## 4- List

In [194]:
ls = [4.3, 'Farhad', True, 78]
ls

[4.3, 'Farhad', True, 78]

In [195]:
ls[3]

78

In [196]:
len(ls)

4

In [197]:
ls = [4, 10, 17, 23, 12, 34, 54]

### 4-1 Access List Items and Change Items

In [198]:
ls[3:6]

[23, 12, 34]

In [199]:
ls[:3]

[4, 10, 17]

In [200]:
ls[:-1]

[4, 10, 17, 23, 12, 34]

In [201]:
ls[-2:]

[34, 54]

In [ ]:
ls[0:5:2] ## from 0 to 5 step by 2

In [ ]:
myls = ['python', 'C++', 'C#', 'php', 'SQL']
myls[1:3] = ['js', 'html', 'css']
myls

In [ ]:
mylist = ['amir','bita','farhad']

[print((i+' ')*(mylist.index(i)+1)) for i in mylist]

### 4-2 List Methods and Comprehension

##### append() : Adds an element at the end of the list

In [204]:
ls = [1,3,1,7,9,19,77,57,37,33,1,2]
ll = []

#for i in ls:
#    if i % 2 == 0:
#        ll.append(i)

[ll.append(i) for i in ls if i % 2 == 0]

if len(ll) != 0:
    print('Atleast one number is Even')
else:
    print('None of the numbers are Even')

Atleast one number is Even

In [209]:
print(ls.count(1))

print(max(ls))
print(min(ls))
print(sum(ls))

3
77
1
247

##### insert() : Adds an element at the specified position

In [ ]:
names = ['amir','farhad','yasamin','farzin']
names.insert(2,'maryam')
names

##### extend() : Add the elements of a list (or any iterable), to the end of the current list

In [214]:
fruits = ['apple', 'banana', 'cherry']
points = (1, 4, 5, 9)

fruits.extend(points)
fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [210]:
m = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

a = []
a.extend([sum(i) for i in m])
a
# sum every line

[6, 15, 24]

In [213]:
b = []
for i in range(3):
    b.append(sum(j[i] for j in m))
b
# sum every column

[12, 15, 18]

##### sort() : Sorts the list

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse=True) 
cars

In [ ]:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(reverse=True, key=myFunc)

print(cars)

##### reverse() : Reverses the order of the list

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse() 
fruits

##### pop()	: Removes the element at the specified position

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1) 
fruits

In [ ]:
fruits.pop(1) 
fruits

##### remove() : Removes the item with the specified value

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

##### count() : Returns the number of elements with the specified value

In [ ]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
points.count(9)

##### clear() : Removes all the elements from the list

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
fruits

##### copy() : Returns a copy of the list

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()
x