## 5- Tuple

In [2]:
lessons = ('English','History','Engineering')
print(lessons)
print(type(lessons))
print(len(lessons))

('English', 'History', 'Engineering')
<class 'tuple'>
3

In [3]:
lessons[1:3]

('History', 'Engineering')

In [4]:
lessons[0] = 'art'
# tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [10]:
numbers = (2,7,5,7,5,2)
print(sum(numbers))
print(min(numbers))
print(max(numbers))
print(numbers.count(7))
print(numbers*2)
print(tuple(reversed(numbers)))

28
2
7
2
(2, 7, 5, 7, 5, 2, 2, 7, 5, 7, 5, 2)
(2, 5, 7, 5, 7, 2)

In [9]:
t1 = (5)
t2 = (5,)
print(type(t1),type(t2))

<class 'int'> <class 'tuple'>

In [11]:
t1 = (3,4)
t1 = (4,3)
t1 == t2

False

In [16]:
# append
t = (6,8)
t += (9,)
t

(6, 8, 9)

In [18]:
t1 = (4,6,8)
t2 = (9,4,2)
t1 += t2
t1

(4, 6, 8, 9, 4, 2)

In [24]:
# or with lists for append
t1 = (4,6,8)
ls = list(t1)
ls.append(9)
ls.append(4)
ls.append(2)
t1 = tuple(ls)
t1

(4, 6, 8, 9, 4, 2)

In [27]:
# remove
t = (3, 8, 1, 5)
ls = list(t)
ls.remove(5)
t = tuple(ls)
t

(3, 8, 1)

In [28]:
# unpack
t = (4, 8)
a,b = t
print(a)
print(b)

4
8

In [29]:
car = ('white', 5, 'manual')
color, _, b = car
print(color)
print(_)
print(b)

white
5
manual

### 5-2 Tuple - zip unzip

In [69]:
# zip
t1 = (1, 2)
t2 = (4, 5)
z = zip(t1, t2)
x = list(z)
print(x)
# columnar

[(1, 4), (2, 5)]

In [70]:
print(list(z))
# just one time show

[]

In [71]:
u = zip(*x)
print(list(u))

[(1, 2), (4, 5)]

### 5-3 Tuple - Tuple into list

In [140]:
# count tuples into list

ls = [8, 2, (9,3), 4, (1,6,7), 34]
c = 0
for i in ls:
    if type(i) == tuple:
        c += 1
c

2

In [81]:
# better way
ls = [8, 2, (9,3), 4, (1,6,7), 34]
c = 0
for i in ls:
    if isinstance(i, tuple):
        c += 1
c

2

In [138]:
# change one item of tuple into list

a = [(1,2,3),(4,5,6)]
ls = []
for i in a:
    ls.append(list(i))

for i in range(0,2):
    ls[i][2] = 9
    ls[i] = tuple(ls[i])
ls

[(1, 2, 9), (4, 5, 9)]

In [137]:
# better way
[i[:-1]+(9,) for i in a]

[(1, 2, 9), (4, 5, 9)]