## 6- Dictionary

In [231]:
d = {'ali' : 15, 'farhad' : 23, 'maryam' : 19}
d

{'ali': 15, 'farhad': 23, 'maryam': 19}

In [232]:
d['farhad']

23

In [233]:
d.get('farhaf', 'not found')

'not found'

In [234]:
d['farhad'] = 25
d

{'ali': 15, 'farhad': 25, 'maryam': 19}

In [235]:
d2 = dict(alex = 20 , mia = 15)

In [236]:
d.update(d2)
d

{'ali': 15, 'farhad': 25, 'maryam': 19, 'alex': 20, 'mia': 15}

In [238]:
d = {'ali' : 15, 'farhad' : 23, 'maryam' : 19}
d_new = {**d,**d2}
d_new

{'ali': 15, 'farhad': 23, 'maryam': 19, 'alex': 20, 'mia': 15}

In [240]:
k = ['black','orange']
v = [4,5]

dc = dict(zip(k,v))
dc

{'black': 4, 'orange': 5}

In [152]:
print(type(d))
print(len(d))

<class 'dict'>
5

In [146]:
list(d.keys())

['ali', 'farhad', 'maryam', 'alex', 'mia']

In [147]:
list(d.values())

[15, 25, 19, 20, 15]

In [148]:
list(d.items())

[('ali', 15), ('farhad', 25), ('maryam', 19), ('alex', 20), ('mia', 15)]

In [149]:
for i,j in d.items():
    print(i,'-->' , j)

ali --> 15
farhad --> 25
maryam --> 19
alex --> 20
mia --> 15

### 6-2 Dictionary - Methods

In [161]:
d.pop('mia')
d

{'ali': 15, 'farhad': 25, 'maryam': 19, 'alex': 20}

In [162]:
d.popitem()
d

{'ali': 15, 'farhad': 25, 'maryam': 19}

In [164]:
d.clear()
d

{}

In [165]:
del d
d

NameError: name 'd' is not defined

In [172]:
ls = ['a','b','b','b','c','c','f','g','f','g','a','c','b']
di = {}
for i in ls:
    if i not in di:
        di[i] = 1
    else:
        di[i] += 1
di

{'a': 2, 'b': 4, 'c': 3, 'f': 2, 'g': 2}

In [175]:
# better way
di = {}
for i in ls:
    di[i] = di.get(i,0) + 1
di

{'a': 2, 'b': 4, 'c': 3, 'f': 2, 'g': 2}

In [177]:
di2 = di.copy()
di2

{'a': 2, 'b': 4, 'c': 3, 'f': 2, 'g': 2}

In [182]:
txt = "hello I want to learn python and now I have learned Dictionary"
words = txt.split()
wc = {}
for w in words :
    wc[w] = wc.get(w,0) + 1 
wc

{'hello': 1,
 'I': 2,
 'want': 1,
 'to': 1,
 'learn': 1,
 'python': 1,
 'and': 1,
 'now': 1,
 'have': 1,
 'learned': 1,
 'Dictionary': 1}

In [186]:
c = 0
for i in wc.values():
    c += i
print(c)
# better way
print(sum(wc.values()))

12
12

In [193]:
# sort
import operator
k = operator.itemgetter(1)
sorted(wc.items(), key=k , reverse=True)

[('I', 2),
 ('hello', 1),
 ('want', 1),
 ('to', 1),
 ('learn', 1),
 ('python', 1),
 ('and', 1),
 ('now', 1),
 ('have', 1),
 ('learned', 1),
 ('Dictionary', 1)]

In [223]:
num = {
    'amir' : [14,11,16],
    'omid' : [15,17,10],
    'vahid' : [10,8,12],
    'sara' : [18,16,17],
}
num

{'amir': [14, 11, 16],
 'omid': [15, 17, 10],
 'vahid': [10, 8, 12],
 'sara': [18, 16, 17]}

In [227]:
d = {}
for i in num.items():
    d[i[0]]=sorted(i[1])
d

{'amir': [11, 14, 16],
 'omid': [10, 15, 17],
 'vahid': [8, 10, 12],
 'sara': [16, 17, 18]}

In [226]:
# better way
{ k : sorted(v) for k,v in num.items() }

{'amir': [11, 14, 16],
 'omid': [10, 15, 17],
 'vahid': [8, 10, 12],
 'sara': [16, 17, 18]}

In [248]:
d = {
    'h':0,
    't':0
}

import random

for i in range(20):
    d[random.choice(list(d.keys()))] += 1

d

{'h': 13, 't': 7}

In [259]:
names = [
    {'id':112, 'name':'farhad', 'math':True},
    {'id':456, 'name':'ali', 'math':False},
    {'id':954, 'name':'farzad', 'math':True}
    ]

print(sum(i['math'] for i in names))

2

In [261]:
# Nested Dict

myfamily = {
    'brother1': {'name':'erfan', 'age':8},
    'brother2' : {'name':'farzin', 'age':18}
}
myfamily

{'brother1': {'name': 'erfan', 'age': 8},
 'brother2': {'name': 'farzin', 'age': 18}}