## 7- Set

In [2]:
s = {'apple','orange','banana'}
s

{'apple', 'banana', 'orange'}

In [3]:
s1 = set(('apple','orange','banana'))
s1

{'apple', 'banana', 'orange'}

In [4]:
s.add('cherry')
s

{'apple', 'banana', 'cherry', 'orange'}

In [5]:
s.update(['mango','peach'])
s

{'apple', 'banana', 'cherry', 'mango', 'orange', 'peach'}

In [6]:
s.remove('peach')
s

{'apple', 'banana', 'cherry', 'mango', 'orange'}

In [9]:
s.discard('peach')
s
# not raise an error

{'apple', 'banana', 'cherry', 'mango', 'orange'}

In [10]:
s.pop()
s
# pop : random delete

{'apple', 'banana', 'mango', 'orange'}

In [14]:
a = {2,4,6,8,10}
b = {1,3,5,10}
a - b
# difference

{2, 4, 6, 8}

In [15]:
a.difference(b)

{2, 4, 6, 8}

In [16]:
a.difference_update(b)

In [17]:
a

{2, 4, 6, 8}

In [23]:
f = {1, 2, 3}
g = {2, 3, 4}

print(f.symmetric_difference(g))
print(f ^ g)

print(f.intersection(g))
print(f & g)

print(f.union(g))
print(f | g)

{1, 4}
{1, 4}
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [26]:
x = {1, 2}
y = {3, 4}
z = {2, 3, 4}

print(x.isdisjoint(y))
print(x.isdisjoint(z))
print(y.isdisjoint(z))

print('-'*10)

print(x.issubset(y))
print(x.issubset(z))
print(y.issubset(z))

True
False
False
----------
False
False
True

In [28]:
t = 'farhad'
w = {'a','r','z'}
s = set(t)
print(w.intersection(t))

{'a', 'r'}