## 8- Function

In [1]:
def hello_1():
    print('hello guys')
    
s  = hello_1()
s

hello guys

In [3]:
s
# just one time show

In [11]:
def hello_2():
    return 'hello guys'

s = hello_2()
s
# return means object

'hello guys'

In [12]:
def addtwo(a, b):
    return a+b

d = addtwo(3, 5)
d

8

In [13]:
def f(a):
    a *= 2
    print(a)
    return a+1

b = 4
h = f(b)
print(h)

8
9

In [14]:
def f(x, y):
    if x > y:
        return x
    return y

t = f(4, 9)
t

9

In [15]:
def g(x, y, z):
    return f(x, f(y, z))

g(3, 6, 8)

8

In [16]:
PI = 3.14

In [20]:
def area(r):
    return r ** 2 * PI

def circum(r):
    return 2 * PI * r

def main(r):
    print(area(r))
    print(circum(r))

main(4)
print('-'*10)
main(5)
print('-'*10)
main(6)

50.24
25.12
----------
78.5
31.400000000000002
----------
113.04
37.68

In [21]:
x = 1
def f():
    x = 3
    print('local variable is : ', x)
    
f()
print(x)

local variable is :  3
1

In [22]:
x = 1
def f():
    global x
    x = 3
    print('global variable is : ', x)
    
f()
print(x)

global variable is :  3
3

In [24]:
def f(x , y):
    x = x ** 2
    y = y / 2
    return x, y

a, b = f(4, 6)
print(a,'-'*10 ,b)

16 ---------- 3.0

In [29]:
def f(ls):
    ls[0] -= 1
    ls[1] += 1
    
f([6, 7])
ls

[5, 8]

In [31]:
def f(d):
    d['x'] -= 1
    d['y'] += 1
    
dct = {'x' : 5 , 'y' : 2}
f(dct)
dct

{'x': 4, 'y': 3}

### 8-2 Function Positional Arguments

In [32]:
def f(x, y):
    print(x, y)
    
f(4, 5)
f(x = 4, y = 5)
f(4, y = 5)

4 5
4 5
4 5

In [33]:
f(4, x = 5)

TypeError: f() got multiple values for argument 'x'

In [34]:
f(y = 4, x = 5)

5 4

In [35]:
def f(a, b=4, c=6):
    print(a, b, c)
    
f(2)
f(2, 3)
f(2, 3, 4)
f(2, c=7)
f(b=3, c=6, a=4)

2 4 6
2 3 6
2 3 4
2 4 7
4 3 6

In [36]:
f(1,b=2,5)

SyntaxError: positional argument follows keyword argument (<ipython-input-36-05fc8248ec8c>, line 1)

In [39]:
# if you haven't keyword generate error
def f(*, a=5):
    print(a)
    
f()
f(a=4)

5
4

In [40]:
f(7)

TypeError: f() takes 0 positional arguments but 1 was given

In [2]:
# var argument tuple
def f(*t):
    s = 0
    for i in t:
        s += i
    print(s)
    
f(2,3,4) 
f(2,4,5,6)

9
17

In [7]:
def add(a, b, *more):
    r = a + b + sum(more)
    print(r)
    print('more var is : ' , more)
    
add(1,2,3,4,5)
# a=1, b=2, more=(3,4,5)

15
more var is :  (3, 4, 5)

In [11]:
def concat(*s, sep = '-'):
    return sep.join(s)

print(concat('farhad','python','sql'))
print(concat('farhad','python','sql',sep=' | '))

farhad-python-sql
farhad | python | sql

In [12]:
# ** --> key , value (dictionary)

def f(a, b, **c):
    print(a,b,c)
    
f(5, 6, x=1, y=2, z=2)

5 6 {'x': 1, 'y': 2, 'z': 2}

In [13]:
def f(a, b, *c, **d):
    print(a,b)
    print(c)
    print(d)
    
f( 4,5, 8,9,6, x=1,y=2,z=2 )

4 5
(8, 9, 6)
{'x': 1, 'y': 2, 'z': 2}

In [19]:
def f_count(s):
    count_ch = {
    'U' : 0,
    'L' : 0
}
    for ch in s:
        if ch.islower():
            count_ch['L'] += 1
        else:
            count_ch['U'] += 1
            
    return count_ch
            
s = 'FarHad'
f_count(s)

{'U': 2, 'L': 4}

In [21]:
def cnt_ch(s):
    d = {}
    for i in s:
        if i in d.keys():
            d[i] += 1
        else:
            d[i] = 1
    return d

cnt_ch('asdsadadasgfsadfas')

{'a': 6, 's': 5, 'd': 4, 'g': 1, 'f': 2}

In [23]:
def switch(a):
    d = {1:'one',2:'two'}
    return d.get(a, 'nothing')

print(switch(1))
print(switch(2))
print(switch(3))

one
two
nothing

In [39]:
def avg_grade(ls):
    ll = []
    for i in ls:
        avg = ( i['M'] + i['F'] ) / 2
        dd = {'id':i['id'], 'avg':avg }
        ll.append(dd)
    return ll

In [42]:
grade_student = [
    {
        'id':1,
        'M':50,
        'F':70
    },
    {
        'id':2,
        'M':75,
        'F':85
    },
    {
        'id':3,
        'M':95,
        'F':65
    }
]

avg_grade(grade_student)

[{'id': 1, 'avg': 60.0}, {'id': 2, 'avg': 80.0}, {'id': 3, 'avg': 80.0}]

In [1]:
def reverse_string(s):
    r = ''.join(reversed(s))
    return r

reverse_string('abc')

'cba'

In [5]:
def palindrom(s):
    return s == s[::-1]

print(palindrom('radar'))
print(palindrom('radan'))

True
False

In [7]:
def remove_index(s, start, end):
    if len(s) > end:
        s = s[0:start] + s[end+1 ::]
    return s

remove_index('farhad',1,3)

'fad'

In [28]:
txt = "Python is an interpreted language"


def greatest_word(txt:str):
    
    words = txt.split(" ")
    wc = {}
    for i in words:
        wc[i] = len(i) 
    
    return max(wc, key=wc.get)



def greatest_word2(txt:str):
    words = txt.split(" ")
    wc = {}
    for i in words:
        wc[i] = len(i) 
        
    max_word = [k for k, v in wc.items() if v == max(wc.values())]
    return max_word

In [29]:
greatest_word(txt)

'interpreted'

In [30]:
greatest_word2(txt)

['interpreted']

In [36]:
def pascal(n):
    x = [1]
    y = [0]
    for i in range(max(n,0)):
        print(x)
        x = [i + j for i, j in zip(x+y, y+x) ]

In [39]:
pascal(10)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

In [60]:
st = 'farhad sara alex sara'

def first_duplicate_word(st:txt):
    my_set = set()
    w = st.split(" ")
    for i in w:
        if i in my_set:
            return i
        else:
            my_set.add(i)
    return "None"

In [61]:
first_duplicate_word(st)

'sara'

In [96]:
n = 10

def prime(n:int):
    ls = []
    my_set = set()
    for i in range(2,n+1):
        if i in my_set:
            continue
        for j in range(i*2, n+1, i):
            my_set.add(j)       # {4,6,8,10,9}
        ls.append(i)            # [2,3,5,7]

    return(ls)

prime(n) #[2, 3, 5, 7]

[2, 3, 5, 7]

In [103]:
def magic_matrix(m):
    n = len(m[0])
    lst = []
    
    # Rows
    lst.extend([sum(row) for row in m])
    
    # Cols
    for col in range(n):
        lst.append(sum (row[col] for row in m) )
        
    # main
    r = 0
    for i in range(0, n):
        r += m[i][i]
    
    lst.append(r)
     
    #sub
    r2 = 0
    for i in range(0,n):
        r2 += m[i][n-1-i]
         
    lst.append(r2)
    
    print(lst)
    
    if len(set(lst)) > 1:
        return False
    return True

In [104]:
m = [
    [2,7,6],
    [9,5,1],
    [4,3,8]
]


magic_matrix(m)

[15, 15, 15, 15, 15, 15, 15, 15]

True

In [109]:
def hello_name(name: str) -> str :
    '''
    for testing annotation
    '''
    return 'Hello ' + name

hello_name('Farhad')

'Hello Farhad'

In [110]:
hello_name.__annotations__

{'name': str, 'return': str}

In [111]:
hello_name.__doc__

'\n    for testing annotation\n    '