### 09 - Lambda

In [3]:
def hello_world(n:int) -> int :
    return n * 2
print(hello_world(10))

####################

hello_world_lambda = lambda n : n *2
print(hello_world_lambda(10))

20
20

In [4]:
add_subtraction = lambda x, y : (x + y, x-y)
add_subtraction(5,3)

(8, 2)

#### Why use Lambda

In [28]:
# greatest value or key

d = {'a':3, 'b':7, 'c':5}

# first way
print(d[max(d.keys(), key=(lambda k: d[k]))])

# second way
d[max(d, key=d.get)]

7

7

##### Map

In [32]:
# Upper characters

lst = ['farhad', 'sara']

# first way
u = []
for i in lst:
    x = i.upper()
    u.append(x)
print(u)

# second way with map (function, sequence)
m = map(str.upper, lst)
print(list(m))

['FARHAD', 'SARA']
['FARHAD', 'SARA']

In [37]:
# name scores with zip

name = ['farhad','ali']
score = [15, 17]

# first way
print(list(zip(name, score)))

# second way
print(list(map(lambda x, y: (x,y), name, score)))

[('farhad', 15), ('ali', 17)]
[('farhad', 15), ('ali', 17)]

In [39]:
a = [1,3]
b = [4,3]
 
f = lambda x, y: x+y
list(map(f, a,b))

[5, 6]

In [47]:
# multi Funcs

def f(x):
    return x*2

def g(x):
    return x**2

funcs = [f, g]

ls = [4,5,6]

[ list(map(lambda a: a(i), funcs))  for i in ls]

[[8, 16], [10, 25], [12, 36]]

##### Filter

In [53]:
# filter scores greater than average

scores = [12, 8, 19, 18, 15, 10, 12, 17, 16, 19, 20]
average = sum(scores) / len(scores)

list(filter(lambda x: x>average, scores))

[19, 18, 17, 16, 19, 20]

In [59]:
lst = ['radar', 'farhad', 'damad', 'madam', 'php', 'sara']
palindrome = lambda x: (x == ''.join(reversed(x)))

list(filter(palindrome, lst))

['radar', 'damad', 'madam', 'php']

In [60]:
ls = [1, 4, True, {}, [], '', 10, 'fa']
list(filter(None, ls))

[1, 4, True, 10, 'fa']

In [61]:
# reduce

from functools import reduce

ls = [4, 5, 9, 8, 6]

reduce(lambda a,b: a+b , ls)

32

In [62]:
# sort

students = [
    {'id':1, 'name':'farhad', 'score':10},
    {'id':9, 'name':'yasamin', 'score':19},
    {'id':4, 'name':'maryam', 'score':11},
    {'id':6, 'name':'sara', 'score':17},
    {'id':8, 'name':'taha', 'score':14},
]

f = lambda x: x['score']

sorted(students, key=f)

[{'id': 1, 'name': 'farhad', 'score': 10},
 {'id': 4, 'name': 'maryam', 'score': 11},
 {'id': 8, 'name': 'taha', 'score': 14},
 {'id': 6, 'name': 'sara', 'score': 17},
 {'id': 9, 'name': 'yasamin', 'score': 19}]

In [67]:
students = [
    (4, 'farhad', 11),
    (9, 'yasamin', 19),
    (1, 'maryam', 11),
    (6, 'sara', 17),
    (8, 'taha', 14),
]

from operator import itemgetter

sorted(students, key=itemgetter(2,0), reverse=True)

[(9, 'yasamin', 19),
 (6, 'sara', 17),
 (8, 'taha', 14),
 (4, 'farhad', 11),
 (1, 'maryam', 11)]

In [68]:
d = {'a':3, 'b':10, 'c':5}

sorted(d.items(), key= lambda x:x[1])

[('a', 3), ('c', 5), ('b', 10)]